<div class="container">
  <div class="tasks">
    <h1><%= @task.title %></h1>

    <%= @task.details %>

    <%= @task.completed ? "TASK COMPLETED!" : "TASK NOT YET COMPLETED!" %>

    <%= link_to "Edit task", edit_task_path %>

    <%= link_to "Back to tasks", tasks_path  %>
  </div>
</div>
